@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
 background-image: url("/images/background.jpg");
 background-repeat: no-repeat; 
 background-size: cover;
 position: fixed;
 z-index: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 100%;
 display: block;
 -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
}
